.content{
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
    font-family:  roboto;
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 59.5px;
    background-color: #2e2e2e;
    font-size: 13.5px;
    padding: 0 15px;
}
.header-nav ul{
    margin: 0;
    padding: 0;
}
.header-nav ul li{
    float: left;
    list-style: none;
    line-height: 59.5px;
}
.header-nav ul li a{
    text-decoration: none;
    color: #a0a0a0;
    border-right: #a0a0a0 solid 0.5px;
    padding: 0 5.4px;
}
.header-nav ul li a:hover{
    color: #da4b3a;
}
#border-none {
    border: none;
}
.header-icon ul{
    margin: 0;
    padding: 0;
}
.header-icon ul li{
    float: right;
    list-style: none;
    line-height: 59.5px;
}
.header-icon ul li a{
    text-decoration: none;
    margin: 0 20px;
}
.header-icon ul li a i{
    color:#787878;
}
.header-icon ul li a i:hover {
    color: #da4b3a;
}
.nav{
    height: 72px;
    border-bottom: #f1f1f1 solid 5px;
    margin: 0 19px;
}
.nav ul{
    padding: 0;
    margin: 0;
}
.nav ul li{
    float: left;
    list-style: none;
    margin: 0 20px 0 0;
    line-height: 90px;
    height: 77px;
}
.nav ul li a{
    text-decoration: none;
    color: #2e2e2e;
    font-variant: small-caps;
    font-size: 20px;
}
.nav ul li a:hover {
    color: #9e9e9e;
    border-bottom: #0099ff solid 5px;
    padding-bottom: 15px;
}
      
  

.search{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 142px;
    padding: 0 20px;
    border-bottom: #e9e9e9 solid 5px;
}
.search .slogan{
    margin: 35px 0;
}
.search .slogan h1{
    margin: 0;
    padding: 0;
    font-size: 37px;
}
.search .slogan p{
    margin: 7px 0;
    font-size: 14px;
}
.search .Fright{
    padding: 66px 0 0 192px;
    margin: 0;
}
.search .Fright input{
   padding: 0 40px 0 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
    height: 30px;
    border: #f1f1f1 solid 0.5px
}
.search .Fright button{
    font-variant: small-caps;
    background-color: #0099ff;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    color: #ffffff;
    border: #0099ff solid 0.1px;
}
.search .Fright button:hover{
    animation-name: background-color;
    animation-fill-mode: forwards;
}
@keyframes background-color{
    100% {
        background-color: brown;
    }
}
.introduce{
    display: grid;
    grid-template-columns: 38% 62%;
    min-height: 440px;
    grid-gap: 50px;
    background-color: #f4f4f4;
    border-bottom: #e9e9e9 solid 10px;
}
.introduce .title{
    padding-left: 20px;
}
.introduce h2{
    margin: 144px 0 0 0;
    padding: 0 0 0 0px;
    font-size: 39px;
    font-weight: 80;
}
.introduce button{
    background-color: #0099ff;
    color: #ffffff;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 100;
    padding: 7px 15px;
    border: none;
}
.introduce button:hover{
    animation-name: background-color;
    animation-fill-mode: forwards;
}
@keyframes background-color{
    100% {
        background-color: brown;
    }
}
.introduce a img{
    height: 440px;
    width: 550px;
    background-color: #333333;
    margin: 10px 0 0px 0;
}
.article{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(150px, auto));
}
.article .article-image{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
.article .article-image img{
    height: 500px;
    width: 500px;
    border-left: black solid 1px;
}
.article .article-li{
    
    text-align: center;
}
.article .article-li img{
    height: 80px;
    width: 85px;
}
.article .article-li div{
    margin: 5px;
    
}
.article .article-li div a{
   text-decoration: none;
   font-size: 17px;
   color: #0098fe;
}
.article .article-li div a:hover{
    color: blueviolet;
}
.article .article-li p{
    font-size: 16px;
    margin: 10px;
    color: #666666;
}
.article-li1{
    padding-top: 35px;
}
.article-li2{
    padding-right: 10px;
    margin-top: 35px;
}
.article-li4{
    padding-right: 10px;
}
.article .article-footer{
    grid-column: 1 / 5;
    background-color: #e0e0e0;
    margin: 0 20px;
    border-left: #0099ff solid 10px;
    margin-bottom: 30px;
    position: relative;
    
}
.article .article-footer h2{
    font-size: 40px;
    margin: 20px 0px 3px 30px;
    font-weight: 100;
}
.article .article-footer p{
    font-size: 20px;
    margin: 0px 0px 0px 33px;
}
.article .article-footer button {
    position: absolute;
    top: 32px;
    left: 633px;
    background-color: #0099ff;
    font-size: 25px;
    margin: 0;
    border-radius: 7px;
    border: none;
    padding: 14px;
    color: #e0dbdf;
}
.article .article-footer button:hover{
    animation-name: background-color;
    animation-fill-mode: forwards;
}
@keyframes background-color{
    100% {
        background-color: brown;
    }
}
.aside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #1a1a1a;
    margin-top: 10px;
    padding-top: 26px;
    border-top: #000000 solid 5px;
    min-height: 360px;
    border-bottom: #2d2d2d solid 1px;
}
.aside .about{
    padding-left: 20px ;
    
}
.aside h3{
    color: #ffffff;
    font-size: 12px;
    font-weight: 100;
}
.aside p{
    color: #656565;
    font-size: 14px;
    margin-top: 21px;
}
.aside .about .img{
    margin: 0;
    padding: 0;
}
.aside .about .img img{
    width: 215px;
    height: 90px;
    margin-top: 10px;
}
.aside .about a{
    text-decoration: none;
    font-size: 14px;
    color: #009aff;
    margin-left: 155px;
}
.aside .about a:hover{
    color: #da4b3a;
}
.aside .quicklinks{
    padding-left: 13px ;
}
.aside .quicklinks ul{
    margin: 0;
   padding: 0;
}
.aside .quicklinks ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.aside .quicklinks ul li span {
    color: #999999;
    margin-right: 5px;
}
.aside .quicklinks ul li a {
    text-decoration: none;
    padding: 5.3px;
    display: block;
    font-size: 14px;
    border-bottom: #232323 solid 1px;
    color: #0099ff;
}
.aside .quicklinks ul li a:hover{
    color: #da4b3a;
}
.aside .latestblogposts{
    padding-left: 9px;
    padding-right: 10px;
}
.aside .latestblogposts h3{
    margin-bottom: 0;
}

.aside .latestblogposts a h4 {
    color: #656565;
    margin-top: 0px;
    margin-bottom: 0;
}
.aside .latestblogposts a h4:hover{
    color: brown;
}
.aside .latestblogposts p {
    color: #656565;
    margin-top: 0;
    margin-bottom: 7px;
}
.aside .latestblogposts a .date{
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 7px;
}
.aside .latestblogposts a .date:hover{
    color: brown;
}
.aside .latestblogposts a{
    color: #0099ff;
    font-size: 14px;
    margin-left: 155px;
    text-decoration: none;
}
.aside .latestblogposts a:hover{
    color: #da4b3a;
}
.aside .contact{
    padding-left: 3px;
}
.aside .contact h3{
    margin-bottom: 13px;
}
.aside .contact input{
    margin: 5px 0;
    width: 215px;
    height: 29px;
    border-radius: 5px;
    background-color: #232323;
    border: none;
    color: #989898;
    padding-left: 10px;
}
.aside .contact textarea{
    background-color: #232323;
    color: #989898;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    padding-top: 7px;
    width: 215px;
    min-height: 102px;
    font-size: 15px;
}
.aside .contact button{
    margin-top: 5px;
    padding: 8px 13px;
    background-color: #0099ff;
    color: #feffff;
    border: none;
    border-radius: 5px;
}
.aside .contact button:hover{
    animation-name: background-color;
    animation-fill-mode: forwards;
}
@keyframes background-color{
    100% {
        background-color: brown;
    }
}
.footer{
    margin: 0;
    height: 60px;
    color: #666666;
    background-color: #222222;
    line-height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 100;
}
.footer .adress_company {
    padding-left: 328px;
}

    


    
    



